<!-- <span>{{ title }} app is running!</span> -->
<!---<app-my-header-angular></app-my-header-angular>
<app-my-footer-angular></app-my-footer-angular>
<app-my-pipes-angular></app-my-pipes-angular>
<app-my-service-angular></app-my-service-angular>
<app-my-service-full-details-angular></app-my-service-full-details-angular>
<app-productlist></app-productlist>
<app-productforms></app-productforms>
<app-reactiveform></app-reactiveform>
<app-routing></app-routing>
 
<app-parentview></app-parentview>

<app-checksingle></app-checksingle>
<app-checkboxpractice></app-checkboxpractice> -->
<app-practice-form></app-practice-form>
<app-reactiveform></app-reactiveform>



<!-- <a href="home">HomeComponent</a>&nbsp;&nbsp;&nbsp;
<a href="courses">CoursesComponent</a>&nbsp;&nbsp;&nbsp;
<a href="payment">PaymentComponent</a>&nbsp;&nbsp;&nbsp;
<a href="contactus">ContactUsComponent</a>

<router-outlet></router-outlet> -->