
    <div style="width:30%;float:left;border: 1px solid black">
    <h1>Uppercase pipe</h1>
    <b>{{name | uppercase}}</b>
    </div><br><br><br><br>
    <div style="width:30%;float:left;border: 1px solid black">
        <h1>Lowercase pipe</h1>
        <b>{{name | lowercase}}</b>
        </div>
        <br><br><br><br>
    <div style="width:30%;float:left;border: 1px solid black">
        <h1>Currency pipe</h1>
        <b>{{5000 | currency:"INR"}}</b>
        </div>
        <br><br><br><br>
        <div style="width:30%;float:left;border: 1px solid black">
            <h1>Date pipe</h1>
            <b>{{todaydate | date:"dd/mm/yy"}}</b><br>
            <b>{{todaydate | date:"shortTime"}}</b>
            </div> <br>
            <br><br><br><br>
        <div style="width:30%;float:left;border: 1px solid black">
            <h1>Decimal pipe</h1>
            <b>{{123.56480 | number:"3.3-3"}}</b><br>
          
            </div>
            <br>
            <br><br><br><br>
        <div style="width:30%;float:left;border: 1px solid black">
            <h1>Json pipe</h1>
            <b>{{jsonval | json}}</b><br>
            
            </div>
            <br>
            <br><br><br><br>
        <div style="width:30%;float:left;border: 1px solid black">
            <h1>Percent pipe</h1>
            <b>{{00.7548 | percent}}</b><br>
            
            </div>
            <br>
            <br><br><br><br>
        <div style="width:30%;float:left;border: 1px solid black">
            <h1>Slice pipe</h1>
            <b>{{months | slice:2:8}}</b><br>
            
            </div>

            <br>
            <br><br><br><br>
        <div style="width:30%;float:left;border: 1px solid black">
            <h1>Custom pipe</h1>
            <b>{{number | MySqrtPipe}}</b><br>
            
            </div><br>
            <br><br><br><br>
            <div>
                <!-- <select>
                    <option *ngFor="let getNames of herolist" [value]="getNames.roless">{{getNames.Name | checkpipe:getNames.role}}</option>
                </select> -->
            </div>
            <table class="table">
                <tr *ngFor="let x of herolist">
                    <td>{{x.Name}}</td>
                    <td>{{x.role}}</td>
                    <td>{{x.DOB | age}}</td>
                </tr>
            </table>
          